{% extends 'base.html.twig' %}

{% block title %}Ajout Véhicule{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Ajout d'un Véhicule</h1>

    {# Formulaire d'ajout de véhicule avec Bootstrap #}
    <div class="card shadow-sm">
        <div class="card-body">
            {{ form_start(form) }}
                
                <div class="mb-3">
                    {{ form_label(form.type, 'Type de véhicule', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.type, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.nbpplace, 'Nombre de places', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nbpplace, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.model, 'Modèle du véhicule', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.model, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <button type="submit" class="btn btn-primary w-100">Ajouter Véhicule</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
